@import url('footer.css');

body {
  background-color: #F0E5E1;
}

.footer-copyright {
  font-size: 12px;
  color: #82324D;
}

#map {
  position: center;
  top: 0;
  bottom: 0;
  width: 100%;
}

.form-group{
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.btn {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background-color: #82324D;
  border: 1px solid #82324D;
}

.btn:hover {
  background-color: #797572;
  border: 1px solid #82324D;
}

.logo {
  width: 40%;
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.3));
}

.results {
  text-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.coordinates-color {
  color: #82324D;
}
